@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 모든 input 필드에 대한 기본 스타일 */
input {
  color: #1a1a1a !important;
  background-color: white;
  font-weight: 600 !important;
  padding: 7px 20px 8px;
  border-width: 1px;
}

/* 패스워드 input 필드 특별 스타일 */
input[type="password"] {
  color: #1a1a1a;
  background-color: white;
  -webkit-text-security: disc;
  text-security: disc;
  font-weight: 600;
}

/* select 필드 스타일링 */
select {
  color: #1a1a1a !important;
  background-color: white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1.5em 1.5em;
  padding: 7px 20px 8px;
  font-weight: 600 !important;
  border-width: 1px;
}

/* select 옵션 스타일링 */
select option {
  color: #1a1a1a;
  background-color: white;
  font-weight: 600;
}
